.content {
  background-color:#f7e6ff;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

.bgimage1 {
  background-image: url("https://noahshih.github.io/images/ben-simmons-2016090302.jpg");
  	position:absolute;
		top: 10px;
		left: 10px;
		z-index: 1;
		background-position: 0px -1970px;
}

.topleft {
		position:absolute;
		top: 195px;
		left: 25px;
		z-index: 2;
	}

.leftimage {
  width:100px;
}

.bottomleft {
		position:absolute;
		top: 440px;
		left: 1px;
		z-index: 2;
	}
