
/*Changes the background color below the nav*/
.con {
  background-color: #f1f1f1;
}


.bgimage {
  background: url(https://noahshih.github.io/images/Screenshot%202017-11-17%20at%209.01.47%20AM.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bgimage2 {
  background: url(https://noahshih.github.io/images/Screenshot%202017-11-17%20at%209.14.59%20AM.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Styles table on Explosiveness Page*/
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   text-align: center;
   background-color: white;
}

/*Changes font for title*/
h1 {
  font-family: Arial;
}

/*Changes font for the headings*/
h2 {
  font-family: Arial;
}

/*Changes font for paragraphs*/
h3 {
  font-family: "Times New Roman";
}

/*Styles the table on Versatility page*/
ul {
    list-style-type: square;
    padding: 5;
    background: white;
    border-style: solid;
    border-color: black;
}
